button
  // Attributes
  border-radius: 5px
  display: inline-block
  margin: 10px
  padding: 15px 20px
  // Style
  background: lightblue
  border-color: #30829C #246175
  // Special stuff
  box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.4)
  cursor: pointer
  transition: all ease-in-out 300ms

  &:hover
    box-shadow: 0px 35px 20px -20px rgba(0,0,0,0.2)
    transform: translate(0px, -15px)
