// A general theme for Tad Docs, as of 06/23/2016
@import 'footer.css'
@import 'header.css'
@import 'tables.css'

@import 'fonts/monospace.css'
@import 'fonts/regular.css'

$code-color: rgba(128, 128, 128, .25)

article
  padding: 5px 20px
  font-size: 120%

body
  margin: auto
  padding: 0
  min-height: 100%
  position: relative
  background: #d3d3d3

code
  // Attributes
  border-radius: 2px
  padding: 4px
  // Style
  background-color: $code-color
  // Fonts
  font-family: 'RobotoMono', monospace

div.exampleblock
  padding: 10px
  width: 60%
  margin: 0 auto
  background: $code-color

div.title
  text-align: center

html
  margin: 0
  padding: 0
  height: 100%
  font-family: 'RobotoRegular', sans-serif

h1, h2, h3
  font-family: 'RobotoBold', sans-serif

h1
  // Attributes
  text-align: left
  padding: 20px
  margin: auto
  // Style
  border-bottom: solid 1px $code-color
  color: grey
  // Fonts
  font-size: 300%
  font-weight: 100

h2
  padding: 20px 0
  border-bottom: solid 1px $code-color

img
  display: block
  margin: 0 auto
  width: 25vw
  min-width: 250px

main
  padding: 60px 0px
  width: 75%
  margin: auto
  background: #fff
  height: 100%
  min-height: 100%
  box-shadow: 0px 1px 5px #333

pre
  border-radius: 2px
  padding: 10px
  // Style
  background-color: $code-color
  // Fonts
  font-family: 'RobotoMono', monospace
  text-indent: 0

  code
    padding: 0
    background-color: transparent
