footer
  position: absolute
  height: 45px
  margin: 0
  padding: 5px 0
  bottom: 0
  width: 100%
  // Style
  background-color: grey
  color: white
  text-align: center
  font-size: 15px

  p
    margin: 0
    padding: .25vw
