$bg-color: #2C3539
$hover-color: #111
$text-color: white
$border-color: grey

header
  // Position
  position: fixed
  top: 0
  z-index: 2
  // Display
  margin: 0
  padding: 0
  height: 60px
  min-width: 340px
  width: 100vw
  // Style
  background: $bg-color
  border-bottom: 3px solid $border-color
  box-shadow: 0px 0px 5px #000

  a#menu-button
    display: inline-block
    padding: 18px
    margin: 0
    width: 16px
    height: 24px
    color: lightgrey
    cursor: pointer
    font-size: 125%
    transition: background 200ms ease
    // Ensure the user can NOT select the menu 'icon' items
    -moz-user-select: none
    -webkit-user-select: none
    user-select: none

    &:hover
      background: $hover-color

img.header-logo
  position: absolute
  top: 0
  left: 50%
  margin-left: -110px
  height: 59px
  width: 220px

nav
  position: absolute
  left: -210px
  top: 61px
  width: 200px
  height: 100vh

  background: $bg-color
  box-shadow: 0px 3px 5px #000
  transition: left 150ms ease-out
  border-right: 3px solid $border-color

  &.show
    left: 0

  ul
    margin: 0
    padding: 0
    list-style: none

    li
      border-bottom: 1px solid $border-color
      transition: background 200ms ease

      &:hover
        background: $hover-color

      a
        display: block
        padding: 10px
        color: lightgrey
        font-size: 200%
        text-decoration: none
