@import 'header.css'
//@import 'sidebar.css'

@import 'fonts/regular.css'

$content-pad: 5vh
$main-pad: 125px
$shadow-color: rgba(135, 135, 135, .4)

a
  text-decoration: none

body
  margin: 60px 0 0 0
  padding: 0

button
  // Attributes
  border-radius: 5px
  display: inline-block
  margin: 10px
  padding: 10px 15px
  width: 200px
  height: 75px
  // Style
  background: #F30049
  border-color: #cc003d #ff1a5e
  color: black
  // Special stuff
  box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.4)
  cursor: pointer
  transition: all ease-in-out 300ms

  &:hover
    box-shadow: 0px 35px 20px -20px rgba(0,0,0,0.2)
    transform: translate(0px, -15px)

div
  text-align: center

  &.main
    width: 100%
    padding-top: $main-pad
    padding-bottom: $main-pad
  // The first info block
  &#first
    background: #FDFDFD
    padding-top: 0
  // The second info block
  &#second
    background: #2C3539
    color: white
  // The third info block
  &#third
    background: #D4A017
  // The fourth info block
  &#fourth
    //background-color: #F30049
    background: #512438
    color: white

html
  font-family: 'RobotoRegular', 'sans-serif'

h2
  margin: 0
  padding: 15px

  font-family: 'RobotoBold', 'sans-serif'
  font-size: 300%
  text-shadow: 2px 2px 4px $shadow-color

img

  &.icon
    display: block
    height: 200px
    position: relative
    margin-bottom: -200px
    //top: -110px
    top: -100px
    margin-left: auto
    margin-right: auto

  &#main-logo
    padding-top: 20px
    width: 80vw

  &.button-img
    //margin: 0 auto
    //display: block
    display: inline-block
    width: 45px

p
  width: 60vw
  margin: 10px auto

  font-size: 110%

  &.button-text
    position: relative
    top: -10px
    display: inline-block
    padding: 0
    width: 100px
    font-size: 2em
    margin: 0
    padding: 5px

q
  display: inline-block
  padding: 50px
  font-size: 320%
  font-style: italic
  text-shadow: 2px 2px 4px $shadow-color

ul
  list-style: none
