nav#sidebar
  position: fixed
  top: 0
  left: 0
  height: 100%
  margin: 0
  padding: 25px
  // Style
  background-color: black
  list-style-type: none

  li
    margin-bottom: 15px
    color: white
    cursor: pointer

    a
      display: block

      font-size: 125%
      text-align: center


  img
    height: 50px
    width: auto
