// An attempt at nicely formatting an Asciidoc table

$table-color: #f8f8f7
$head-border-color: #ccc


table
  //background: #fff
  border: solid 1px #dedede
  border-collapse: collapse
  margin-bottom: 1.25em

  .tableblock
    line-height: 1.45
    color: #000
    font-weight: 400
    margin-top: 0
    margin-bottom: 0.25em

  tr
    text-align: center

    td
      padding: .5625em .625em
      color: rgba(0, 0, 0, 0.8)

      &.content
        text-align: left

    th
      // Display
      padding: .5em .625em .625em
      // Style
      color: rgba(0, 0, 0, 0.8)
      // Text
      font-size: 1.1em

  thead tr th, tbody tr td, tr td
    display: table-cell
    line-height: 1.6
    border: solid 1px #dedede

thead tr
  background-color: white
  border: 1px solid $head-border-color

tbody tr
  &:nth-of-type(odd)
    background: $table-color


td
  text-align: center

th
  font-size: 1.1em
  text-align: center

p.tableblock
  text-indent: 0px

div.admonitionblock
  background-color: $table-color
