<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#2c3539">
	  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= page_title(current_page.data.title, 'Tad Docs') %></title>
    <%= javascript_include_tag 'menu' %>
    <%= stylesheet_link_tag "docs" %>
  </head>

  <body>
    <%= partial 'partials/header' %>
    <main>
      <h1><%= current_page.data.title %></h1>
      <article>
        <%= yield %>
      </article>
    </main>
    <%= partial 'partials/footer' %>
  </body>
</html>
