
<header>
  <a id='menu-button' onclick="ShowMenu()">☰</a>
  <%= image_tag 'logos/grey_flat.svg', :class => 'header-logo'%>

  <nav id='menu-window'>
    <ul>
      <li><%= link_to 'Home', 'index.html'%>
      <li><%= link_to 'Docs', 'docs/index.html'%>
      <li><%= link_to 'Tadman', 'tadman/index.html', :class => 'docs'%>
    </ul>
  </nav>
</header>
