
<nav id='sidebar' class="">
  <ul>
    <button class="close" type='button'>≡</button>
    <li>
      <% link_to 'index.html', :class => 'logo' do %>
        <%= image_tag 'logos/logo_grey.png', :class => 'headerlogo' %>
      <% end %>
    <li><%= link_to 'Docs', 'docs/index.html'%>
  </ul>
</nav>
