// Note: this code uses some Compass features

@font-face
  font-family: 'RobotoMono'
  src: font-url('roboto_mono/RobotoMono-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
