// Note: this code uses some Compass features

@font-face
  font-family: 'RobotoRegular'
  src: font-url('roboto/Roboto-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: bold

@font-face
  font-family: 'RobotoBold'
  src: font-url('roboto/Roboto-Medium.ttf') format('truetype')
  font-weight: normal
  font-style: normal
