---
title: 'Home'
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <p>
      Welcome to the Tad Docs. Here, we welcome new Linux users with open arms.
      Each document has a single goal: Teach users about commonly used tools
      in a GNU/Linux ecosystem
    </p>
    <p>
      This is just a temporary TOC page for now. It will be updated and
      modularized in the future using some Ruby magic.
    </p>
    <!-- Some nice links and things -->
    <h2>Introduction</h2>
    <ul>
      <li><%= link_to 'Project Goals', 'docs/intro/goals.html' %></li>
      <li><%= link_to 'About Tad OS', 'docs/intro/about.html' %></li>
      <li><%= link_to 'License', 'docs/intro/license.html' %></li>
    </ul>
    <h2>Basics</h2>
    <ul>
      <li><%= link_to 'Using the Terminal', 'docs/basics/terminal.html' %></li>
      <li><%= link_to 'Terminal Commands', 'docs/basics/commands.html' %></li>
      <li><%= link_to 'The GNU/Linux filesystem', 'docs/basics/filesystem.html' %></li>
    </ul>
    <h2>Tad OS</h2>
    <ul>
      <li><%= link_to 'Reference docs', 'Docs/reference.html' %></li>
    </ul>
  </body>
</html>
