---
title: Tadman Package Manager
---

<!DOCTYPE html>
<html>
  <head>
    <title><%= current_page.data.title %></title>
  </head>

  <body>
    <p>
      The Tadman Package Manager is a tool to make installing software from
      source code easier than ever before. Tadman gives you,
      <strong>the user</strong>, full control over how software is installed.
      Tadman is also distribution agnostic across UNIX-like systems, meaning
      it can even be used on Mac OS X!*
    </p>
    <%= image_tag 'tadman/curses_menu.png', :alt => 'Tadman curses interface'%>
    <p>
      To learn more about how Tadman works, watch this short video:
    </p>
    <!-- YouTube video will go here once it is made! -->
    <p>
      * <i>This has not been tested yet, but should
      <strong>technically</strong> work.</i>
    </p>
    <h2>Table of Contents</h2>
    <ul>
      <li><a href='./uses.html'>Common Uses for Tadman</a></li>
      <li><a href='./competitors.html'>Tadman vs. It's Competitors</a></li>
    </ul>
  </body>
</html>
