---
title: Tad OS
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#2c3539">
	  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= current_page.data.title %></title>
    <%= javascript_include_tag 'menu' %>
    <%= stylesheet_link_tag "home" %>
  </head>

  <body>
    <%= partial 'partials/header' %>

    <main>
      <!-- The first info block on the website -->
      <div class="main" id="first">
        <%= image_tag 'logos/black.svg', :alt => 'tad-os-logo',
          :id => 'main-logo' %>
        <h2>Welcome!</h2>
        <p>Tad OS is a custom, source code built operating system designed with
          simplicity and efficency in mind. It's goal: To fight the evils of
          software bloat by offering a lightweight alternative to modern day
          operating systems. The initial installation leaves the user with a
          lightweight and completely customizable GNU/Linux base.
        </p>
        <p>
          What you do with it is up to you: <strong>The user</strong>.
        </p>
        <q>This is simplicity. This is Tad OS.</q>
      </div>

      <!-- The second info block on the website -->
      <%= image_tag 'home/pack.svg', :alt => 'package-icon', :class => 'icon',
        :id => 'pack' %>
      <div class="main" id="second">
        <h2>Package Management</h2>
        <p>Tad OS is not another clone of Debian GNU/Linux or Ubuntu. Rather,
          it is it's own project, and as such, it has its own package manager:
          <strong>Tadman</strong>.
        </p>
        <p>This is not another binary installer vying with the plethora of
          other competitors. Rather, the Tadman Package Manager acts as a
          wrapper for the build systems already available in source code.
          Tadman makes installing packages from source code easier than ever.
        </p>
      </div>

      <!-- The third info block on the website -->
      <%= image_tag 'home/docs.svg', :alt => 'document-icon', :class => 'icon',
        :id => 'docs' %>
      <div class="main" id="third">
        <h2>Documentation</h2>
        <p>Tad OS accepts beginners and seasoned veterns of GNU/Linux alike.
          To prove this, Tad OS includes the documentation project known as
          <strong>Tad Docs</strong>.
        </p>
        <p>Tad Docs includes several different portions, including guides which
          help GNU/Linux newcomers find their way, as well as reference
          documentation for power users. Plus, all guides are written
          in the easy-to-manage asciidoc format!
        </p>
      </div>

      <!-- The fourth info block on the website -->
      <%= image_tag 'home/git.svg', :alt => 'git-icon', :class => 'icon',
        :id => 'git' %>
      <div class="main" id="fourth">
        <h2>Repositories</h2>
        <p>
          Tad OS and its associated projects are available for free use under
          the terms of the MIT Open Source license.
        </p>
        <p>
          If you wish to contribute to the Tad OS project,
          visit one of our hosted git repositories:
        </p>
        <%= make_button_with_image "https://github.com/KeepPositive",
          'Github', 'home/github.svg', 'github-logo' %>
        <%= make_button_with_image "https://gitlab.com/groups/Tad-OS",
          'Gitlab', 'home/gitlab-transblack.svg', 'gitlab-logo' %>
      </div>
    </main>
  </body>
</html>
